// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#letter_box {
  background-color: #2E83C9;
  color: white;
  border: 1px solid #164063;
  display : inline;
  text-align: center;
  padding: 3px;
  margin : 3px;
}
